@charset "utf-8";
/* 轮播图 */
.banner {
  width: 100%;
  height: 834px;
  /* 轮播图图片内容 */
}
.banner .banner-content {
  width: 100%;
  position: relative;
  height: 100%;
  /* 大图的banner部分 */
  /* 轮播图下面指示器和缩略图*/
  /* 缩略图banner部分*/
}
.banner .banner-content #gallery {
  width: 100%;
  height: 100%;
  /* */
}
.banner .banner-content #gallery .swiper-wrapper {
  height: auto;
}
.banner .banner-content #gallery .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 834px;
  display: block;
}
.banner .banner-content .swiper-button-prev-banner {
  z-index: 11;
  position: absolute;
  top: 794px;
  left: 380px;
  outline: none;
  --swiper-navigation-size: 21px;
}
.banner .banner-content .swiper-button-next-banner {
  z-index: 11;
  position: absolute;
  top: 794px;
  left: 470px;
  outline: none;
  --swiper-navigation-size: 21px;
}
.banner .banner-content .banner-indicator {
  position: absolute;
  left: 344px;
  bottom: 0;
  width: 340px;
  height: 76px;
  background-color: #1063b4;
  font-size: 45px;
  box-sizing: border-box;
  border: 2px solid #1063b4;
  color: #FFFFFF;
  z-index: 10;
  /* 指示器样式 */
  /* 缩略图样式 */
}
.banner .banner-content .banner-indicator p:nth-of-type(1) {
  width: 170px;
  height: 100%;
  line-height: 76px;
  float: left;
  text-align: center;
}
.banner .banner-content .banner-indicator p:nth-of-type(1) span {
  width: 54px;
  height: 100%;
}
.banner .banner-content .banner-indicator p:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 57px;
}
.banner .banner-content .banner-indicator p:nth-of-type(1) i {
  position: absolute;
  top: 29px;
  left: 85px;
  width: 1px;
  height: 18px;
  background-color: #438cd4;
}
.banner .banner-content .banner-indicator p:nth-of-type(2) {
  width: 165px;
  height: 100%;
  float: left;
  background-color: white;
}
.banner .banner-content #thumbs {
  position: absolute;
  bottom: 1px;
  left: 516px;
  width: 165px;
  height: 72px;
  z-index: 11;
}
.banner .banner-content #thumbs .swiper-wrapper {
  height: auto;
}
.banner .banner-content #thumbs .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
}
.banner .banner-content #thumbs .swiper-container-thumbs .swiper-slide-thumb-active img {
  opacity: 1;
}
.banner .banner-content #thumbs .swiper-container-thumbs .swiper-slide-thumb-active img .swiper-container-thumbs img {
  opacity: .5;
}
/* 内容部分 */
.content {
  width: 81.3%;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-bottom: 3px solid #e16910;
  /* 资讯中心 */
  /* 分割线 */
  /* 业务模板 */
  /* 中间条形码分割线-项目展示 */
  /* 项目展示 */
}
.content .content-information {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  width: 97.16%;
  padding-top: 28px;
  padding-top: 2.33%;
  height: 680px;
  /* 资讯中心标题样式 */
  /* 资讯内容部分 */
}
.content .content-information .content-information-title {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  /* 标题 */
  /* 更多 */
}
.content .content-information .content-information-title p:nth-of-type(1) {
  width: 9.75%;
  height: 46px;
  padding-top: 1%;
  border-bottom: 3px solid #e16910;
  display: flex;
  display: -webkit-flex;
}
.content .content-information .content-information-title p:nth-of-type(1) span {
  width: 100%;
  height: 24px;
  font-size: 0.25263158rem;
  color: #222222;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  border-left: 5px solid #e16910;
}
.content .content-information .content-information-title p:nth-of-type(2) {
  padding-top: 1%;
  width: 90%;
  height: 100%;
  margin-left: 0.17%;
  font-weight: 600;
  border-bottom: 3px solid #1b6abb;
  font-size: 0.12631579rem;
  display: flex;
  justify-content: flex-end;
  display: -webkit-flex;
}
.content .content-information .content-information-title p:nth-of-type(2) a {
  float: right;
  width: 6.1%;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border: 1px solid #dcdcdc;
}
.content .content-information .content-information-title p:nth-of-type(2) a:hover {
  color: #FFFFFF;
  background-color: #003365;
}
.content .content-information .content-information-content {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  margin: 1.41% auto 0;
  width: 100%;
  height: 565px;
  /* 资讯内容部分轮播 */
  /* 资讯内容中的分页 */
}
.content .content-information .content-information-content .content-information-content-banner {
  width: 60%;
  height: 567px;
  float: left;
  display: flex;
  display: -webkit-flex;
  /* 咨询模板轮播 */
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  /*自定义分页器激活时的样式表现*/
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-slide img {
  width: 100%;
  height: 423px;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-slide div {
  position: relative;
  width: 100%;
  height: 144px;
  background-color: #1063b4;
  z-index: 10;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-slide div h3 {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 0.22105263rem;
  text-indent: 3.45%;
  color: #FFFFFF;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-slide div p:nth-of-type(1) {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 0.12631579rem;
  text-indent: 3.47%;
  white-space: nowrap;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-slide div p:nth-of-type(2) {
  position: absolute;
  bottom: 16%;
  right: 2.22%;
  width: 27.22%;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 0.12631579rem;
  display: flex;
  display: -webkit-flex;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-slide div p:nth-of-type(2) span {
  float: left;
  box-sizing: border-box;
  width: 50.06%;
  height: 100%;
  border-right: 1px solid #a3c6ec;
  color: #FFFFFF;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-slide div p:nth-of-type(2) a {
  float: right;
  box-sizing: border-box;
  width: 46.93%;
  height: 100%;
  border-left: 1px solid #a3c6ec;
  color: #FFFFFF;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-slide div p:nth-of-type(2) a:hover {
  color: #619fda;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-pagination {
  bottom: 3.75%;
  left: -41.66%;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-pagination .swiper-pagination-bullet {
  width: 1.5%;
  height: 12px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin: 0 0.8%;
  background-color: #1063b4;
}
.content .content-information .content-information-content .content-information-content-banner #swiper2 .swiper-pagination .my-bullet-active {
  width: 1.5%;
  height: 12px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin: 0 0.8%;
  background-color: #E16910;
  opacity: 1;
}
.content .content-information .content-information-content .content-information-content-paging {
  width: 37.83%;
  float: right;
  position: relative;
  height: 567px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  /* 资讯内容中的分页标题 */
  /* 资讯信息列表 */
  /* 资讯信息列表2 */
}
.content .content-information .content-information-content .content-information-content-paging .content-information-content-paging-title {
  width: 100%;
  position: relative;
  display: flex;
  display: -webkit-flex;
  height: 47px;
  z-index: 10;
}
.content .content-information .content-information-content .content-information-content-paging .content-information-content-paging-title p {
  float: left;
  width: 49.77%;
  height: 100%;
  color: #FFFFFF;
  font-size: 0.21052632rem;
  text-align: center;
  line-height: 47px;
}
.content .content-information .content-information-content .content-information-content-paging .content-information-content-paging-title p:nth-of-type(1) {
  background-color: #e16910;
  position: relative;
}
.content .content-information .content-information-content .content-information-content-paging .content-information-content-paging-title p:nth-of-type(1) #active {
  position: absolute;
  left: 45%;
  bottom: -40%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #e16910;
}
.content .content-information .content-information-content .content-information-content-paging .content-information-content-paging-title p:nth-of-type(2) {
  background-color: #1063b4;
  position: relative;
}
.content .content-information .content-information-content .content-information-content-paging .content-information-content-paging-title p:hover {
  cursor: pointer;
}
.content .content-information .content-information-content .content-information-content-paging .list-information {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 511px;
  position: absolute;
  top: 8.4%;
  opacity: 1;
}
.content .content-information .content-information-content .content-information-content-paging .list-information ul {
  width: 100%;
  height: 511px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-information .content-information-content .content-information-content-paging .list-information ul li {
  width: 100%;
  height: 120px;
  margin-top: 2.21%;
  padding: 6.41% 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.content .content-information .content-information-content .content-information-content-paging .list-information ul li p {
  width: 13.27%;
  height: 64px;
  box-sizing: border-box;
  color: #8f8f8f;
  border-right: 1px solid #e1e1e1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-information .content-information-content .content-information-content-paging .list-information ul li p span {
  width: 100%;
  height: 22px;
  line-height: 22px;
  font-size: 0.24210526rem;
  font-weight: 600;
  text-indent: 33.33%;
}
.content .content-information .content-information-content .content-information-content-paging .list-information ul li p i {
  width: 100%;
  height: 21px;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  font-size: 0.09473684rem;
  font-weight: 600;
}
.content .content-information .content-information-content .content-information-content-paging .list-information ul li a {
  width: 84.95%;
  height: 66px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-information .content-information-content .content-information-content-paging .list-information ul li a h3 {
  width: 100%;
  height: 24px;
  font-size: 0.17894737rem;
  color: #333333;
  font-weight: 600;
}
.content .content-information .content-information-content .content-information-content-paging .list-information ul li a span {
  width: 100%;
  height: 42px;
  color: #8f8f8f;
  font-size: 0.13684211rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .content-information .content-information-content .content-information-content-paging .list-information-two {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 511px;
  opacity: 0;
}
.content .content-information .content-information-content .content-information-content-paging .list-information-two ul {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-information .content-information-content .content-information-content-paging .list-information-two ul li {
  width: 100%;
  height: 120px;
  margin-top: 2.21%;
  padding: 6.41% 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.content .content-information .content-information-content .content-information-content-paging .list-information-two ul li p {
  width: 13.27%;
  height: 64px;
  box-sizing: border-box;
  color: #8f8f8f;
  border-right: 1px solid #e1e1e1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-information .content-information-content .content-information-content-paging .list-information-two ul li p span {
  width: 100%;
  height: 22px;
  line-height: 22px;
  font-size: 0.24210526rem;
  font-weight: 600;
  text-indent: 33.33%;
}
.content .content-information .content-information-content .content-information-content-paging .list-information-two ul li p i {
  width: 100%;
  height: 21px;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  font-size: 0.09473684rem;
  font-weight: 600;
}
.content .content-information .content-information-content .content-information-content-paging .list-information-two ul li a {
  width: 84.95%;
  height: 66px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-information .content-information-content .content-information-content-paging .list-information-two ul li a h3 {
  width: 100%;
  height: 24px;
  font-size: 0.17894737rem;
  color: #333333;
  font-weight: 600;
}
.content .content-information .content-information-content .content-information-content-paging .list-information-two ul li a span {
  width: 100%;
  height: 42px;
  color: #8f8f8f;
  font-size: 0.13684211rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .content-dividing {
  margin: 1.19% auto;
  width: 97.16%;
  height: 54px;
  padding: 20px 0;
}
.content .content-dividing .content-dividing-division {
  width: 100%;
  height: 15px;
  background: url(../img/division.jpg);
}
.content .content-business {
  margin: 0 auto;
  width: 97.20%;
  height: 1012px;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  /* 业务模板的展示 */
  /* 业务模板内容 */
}
.content .content-business .content-business-exhibition {
  width: 100%;
  height: 588px;
  position: relative;
  background-color: paleturquoise;
  display: flex;
  display: -webkit-flex;
  /* 业务轮播图 */
  /* 业务模板公司展示 */
}
.content .content-business .content-business-exhibition #swiper3 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  --swiper-navigation-color: #FFFFFF;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-slide div {
  position: absolute;
  left: 7.58%;
  top: 4.66%;
  width: 43.33%;
  height: 196px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-slide div h3 {
  width: 100%;
  height: 53px;
  line-height: 53px;
  font-size: 0.23157895rem;
  color: #333333;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-slide div i {
  display: block;
  width: 9.03%;
  height: 4px;
  background-color: #E16910;
  margin-left: 0.38%;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-slide div a {
  width: 100%;
  height: 123px;
  margin-top: 3.07%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-slide div a h4 {
  width: 100%;
  line-height: 51px;
  height: 51px;
  font-size: 0.18947368rem;
  color: #333333;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-slide div a span {
  width: 100%;
  height: 61px;
  font-size: 0.12631579rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-slide div a:hover {
  color: #003365;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-button-next-business {
  right: 90%;
  width: 4.66%;
  height: 56px;
  outline: 0;
}
.content .content-business .content-business-exhibition #swiper3 .swiper-button-next-business::after {
  content: "";
  background: url(../img/business-nextButton.png) no-repeat 50%;
  background-color: #000000;
  opacity: 0.5;
  width: 100%;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}
.content .content-business .content-business-exhibition .content-business-exhibition-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
  height: 129px;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-exhibition .content-business-exhibition-bottom .active-business {
  background-color: #e16910;
  color: #FFFFFF !important;
  opacity: 1;
}
.content .content-business .content-business-exhibition .content-business-exhibition-bottom p {
  width: 33.33%;
  height: 129px;
  float: left;
  text-align: center;
  font-size: 0.18947368rem;
  color: #333333;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}
.content .content-business .content-business-exhibition .content-business-exhibition-bottom p span {
  width: 18%;
  height: 55px;
  margin-left: 41%;
  margin-top: 7.5%;
}
.content .content-business .content-business-exhibition .content-business-exhibition-bottom p i {
  width: 100%;
  height: 40px;
  font-size: 0.18947368rem;
  font-style: normal;
  line-height: 40px;
  text-align: center;
}
.content .content-business .content-business-exhibition .content-business-exhibition-bottom p:nth-of-type(1) span {
  background: url(../img/build-company.png) no-repeat;
}
.content .content-business .content-business-exhibition .content-business-exhibition-bottom p:nth-of-type(2) {
  box-sizing: border-box;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
}
.content .content-business .content-business-exhibition .content-business-exhibition-bottom p:nth-of-type(2) span {
  background: url(../img/real-company-active%20.png) no-repeat;
  margin-left: 43.75%;
}
.content .content-business .content-business-exhibition .content-business-exhibition-bottom p:nth-of-type(3) span {
  background: url(../img/industry-company-active.png) no-repeat;
  margin-left: 43.75%;
}
.content .content-business .content-business-content {
  margin: 3.83% auto;
  width: 100%;
  height: 379px;
  padding: 0 1.66%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  /* 业务模板左边内容 */
  /* 业务模板右边内容 */
}
.content .content-business .content-business-content .content-business-content-left {
  width: 46.08%;
  height: 379px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  /* 标题 */
  /* 业务模板左边信息列表 */
}
.content .content-business .content-business-content .content-business-content-left .content-business-content-left-title {
  width: 100%;
  height: 34px;
  background-color: #FFFFFF;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-content .content-business-content-left .content-business-content-left-title p:nth-of-type(1) {
  width: 21.15%;
  height: 100%;
  border-bottom: 3px solid #e16910;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-content .content-business-content-left .content-business-content-left-title p:nth-of-type(1) span {
  width: 100%;
  height: 24px;
  font-size: 0.25263158rem;
  color: #222222;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  border-left: 5px solid #e16910;
}
.content .content-business .content-business-content .content-business-content-left .content-business-content-left-title p:nth-of-type(2) {
  width: 78.38%;
  height: 100%;
  margin-left: 0.36%;
  border-bottom: 3px solid #1b6abb;
  font-size: 0.12631579rem;
  display: flex;
  justify-content: flex-end;
  display: -webkit-flex;
}
.content .content-business .content-business-content .content-business-content-left .content-business-content-left-title p:nth-of-type(2) a {
  float: right;
  width: 15.2%;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: 600;
  border: 1px solid #dcdcdc;
}
.content .content-business .content-business-content .content-business-content-left .content-business-content-left-title p:nth-of-type(2) a:hover {
  color: #FFFFFF;
  background-color: #003365;
}
.content .content-business .content-business-content .content-business-content-left .list-information-left {
  width: 100%;
  height: 321px;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-content .content-business-content-left .list-information-left ul {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-business .content-business-content .content-business-content-left .list-information-left ul li {
  width: 100%;
  height: 80px;
  padding: 3.61% 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.content .content-business .content-business-content .content-business-content-left .list-information-left ul li p {
  width: 10.66%;
  height: 40px;
  box-sizing: border-box;
  color: #8f8f8f;
  border-right: 1px solid #e1e1e1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-business .content-business-content .content-business-content-left .list-information-left ul li p span {
  width: 100%;
  height: 26px;
  line-height: 22px;
  font-size: 0.24210526rem;
  font-weight: 600;
  text-indent: 33.89%;
}
.content .content-business .content-business-content .content-business-content-left .list-information-left ul li p i {
  width: 100%;
  height: 13px;
  line-height: 13px;
  text-align: center;
  font-style: normal;
  font-size: 0.09473684rem;
  font-weight: 600;
}
.content .content-business .content-business-content .content-business-content-left .list-information-left ul li a {
  width: 88.06%;
  height: 40px;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-content .content-business-content-left .list-information-left ul li a h3 {
  width: 100%;
  height: 40px;
  font-size: 0.14736842rem;
  color: #333333;
  font-weight: 600;
}
.content .content-business .content-business-content .content-business-content-right {
  width: 46.08%;
  height: 379px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  /* 标题 */
  /* 业务模板右边信息列表 */
}
.content .content-business .content-business-content .content-business-content-right .content-business-content-right-title {
  width: 100%;
  height: 34px;
  background-color: #FFFFFF;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-content .content-business-content-right .content-business-content-right-title p:nth-of-type(1) {
  width: 21.15%;
  height: 100%;
  border-bottom: 3px solid #e16910;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-content .content-business-content-right .content-business-content-right-title p:nth-of-type(1) span {
  width: 100%;
  height: 24px;
  font-size: 0.25263158rem;
  color: #222222;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  border-left: 5px solid #e16910;
}
.content .content-business .content-business-content .content-business-content-right .content-business-content-right-title p:nth-of-type(2) {
  width: 78.38%;
  height: 100%;
  margin-left: 0.36%;
  border-bottom: 3px solid #1b6abb;
  font-size: 0.12631579rem;
  display: flex;
  justify-content: flex-end;
  display: -webkit-flex;
}
.content .content-business .content-business-content .content-business-content-right .content-business-content-right-title p:nth-of-type(2) a {
  float: right;
  width: 15.2%;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: 600;
  border: 1px solid #dcdcdc;
}
.content .content-business .content-business-content .content-business-content-right .content-business-content-right-title p:nth-of-type(2) a:hover {
  color: #FFFFFF;
  background-color: #003365;
}
.content .content-business .content-business-content .content-business-content-right .list-information-right {
  width: 100%;
  height: 321px;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-content .content-business-content-right .list-information-right ul {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-business .content-business-content .content-business-content-right .list-information-right ul li {
  width: 100%;
  height: 80px;
  padding: 3.61% 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.content .content-business .content-business-content .content-business-content-right .list-information-right ul li p {
  width: 10.66%;
  height: 40px;
  box-sizing: border-box;
  color: #8f8f8f;
  border-right: 1px solid #e1e1e1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-business .content-business-content .content-business-content-right .list-information-right ul li p span {
  width: 100%;
  height: 26px;
  line-height: 22px;
  font-size: 0.24210526rem;
  font-weight: 600;
  text-indent: 33.89%;
}
.content .content-business .content-business-content .content-business-content-right .list-information-right ul li p i {
  width: 100%;
  height: 13px;
  line-height: 13px;
  text-align: center;
  font-style: normal;
  font-size: 0.09473684rem;
  font-weight: 600;
}
.content .content-business .content-business-content .content-business-content-right .list-information-right ul li a {
  width: 88.06%;
  height: 40px;
  display: flex;
  display: -webkit-flex;
}
.content .content-business .content-business-content .content-business-content-right .list-information-right ul li a h3 {
  width: 100%;
  height: 40px;
  font-size: 0.14736842rem;
  color: #333333;
  font-weight: 600;
}
.content .content-dividing-title {
  margin: 1.94% auto 2.67% auto;
  width: 99.5%;
  height: 54px;
  position: relative;
  padding: 1.31% 0;
  display: flex;
  display: -webkit-flex;
  /* 标题 */
}
.content .content-dividing-title .content-dividing-division {
  width: 100%;
  height: 15px;
  background: url(../img/division.jpg);
  background-size: cover;
}
.content .content-dividing-title .content-project-title {
  position: absolute;
  top: -20%;
  left: 44%;
  width: 11.82%;
  height: 58px;
  background-color: #FFFFFF;
  line-height: 58px;
  font-size: 0.25263158rem;
  color: #222222;
  font-weight: bold;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.content .content-dividing-title .content-project-title p {
  width: 32.19%;
  height: 4px;
  background-color: #e16910;
  margin-left: 33.56%;
  margin-top: -3.42%;
}
.content .content-project {
  width: 99.5%;
  height: 474px;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  /* 轮播图 */
  /* 分页器 */
}
.content .content-project #swiper4 {
  width: 97.66%;
  margin: 0 auto;
  height: 389px;
  --swiper-navigation-color: #FFFFFF;
  /* 单独设置按钮颜色 */
  --swiper-navigation-size: 0.46315789rem;
  /* 设置按钮大小 */
  /* 前进后退按钮 */
  /*自定义分页器激活时的样式表现*/
}
.content .content-project #swiper4 .swiper-slide {
  text-align: center;
  font-size: 0.18947368rem;
  background: #FFFFFF;
  width: 51.19%;
  height: 100%;
  float: left;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  /* 兼容 */
  -webkit-transition: transform 1.0s;
  -moz-transition: transform 1.0s;
  -ms-transition: transform 1.0s;
  -o-transition: transform 1.0s;
}
.content .content-project #swiper4 .swiper-slide img {
  display: block;
  width: 100%;
  height: 330px;
  margin: 0 auto;
}
.content .content-project #swiper4 .swiper-button-prev-project {
  left: 17.40%;
  outline: 0;
}
.content .content-project #swiper4 .swiper-button-next-project {
  outline: 0;
  right: 17.40%;
}
.content .content-project #swiper4 .swiper-pagination-customs {
  width: 1.02%;
  height: 12px;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #a7a7a7;
  opacity: 1;
  border-radius: 50%;
  margin: 0 0.42%;
}
.content .content-project #swiper4 .swiper-pagination-customs-active {
  opacity: 1;
  background-color: #e16910;
}
/* js中需要用到的样式 */
#active {
  position: absolute;
  left: 45%;
  bottom: -40%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #e16910;
}
